*  {
	box-sizing: border-box;
}

body { 

		background-image: url("../images/hangmanbackround.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		color: white;


}

h1 {
		float: bottom-right;
		width: 50%;
		padding-top: 0px;
		font-size: 24px;
		font-style: bold;

}


section {
	clear: both;
	overflow: auto;
	float: right;
	padding: 100px;
	margin-top: 100px;
	line-height: 40px;
	text-align: center;

	




}


@media only screen and (max-width: 980px) {
    .gridmenu {
        width: 980px;
    }

    .gridmain {
        width: 768px;
    }

    .gridright {
        width: 640px;

    }

}

@media only screen and (max-width: 768px) {
    .gridmenu {
        width: 980px;
    }

    .gridmain {
        width: 768px;
    }

    .gridright {
        width: 640px;

    }

}

@media only screen and (max-width: 640px) {
	.header {

		position: static;
	}
   
    .gridmenu {
        width: 980px;
    }

    .gridmain {
        width: 768px;
    }

    .gridright {
        width: 640px;

    }

}




 